################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WEbgentle.BookStore/.vs/WEbgentle.BookStore
/WEbgentle.BookStore/WEbgentle.BookStore/obj
